body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  height: 100vh;
}

.tela-inicial {
  text-align: center;
  margin-top: 30vh;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
